@import "tailwindcss";

#root {
  background-image: repeating-linear-gradient(
          0deg,
          transparent,
          transparent 19px,
          rgba(75, 85, 99, 0.08) 19px,
          rgba(75, 85, 99, 0.08) 20px,
          transparent 20px,
          transparent 39px,
          rgba(75, 85, 99, 0.08) 39px,
          rgba(75, 85, 99, 0.08) 40px
  ),
  repeating-linear-gradient(
          90deg,
          transparent,
          transparent 19px,
          rgba(75, 85, 99, 0.08) 19px,
          rgba(75, 85, 99, 0.08) 20px,
          transparent 20px,
          transparent 39px,
          rgba(75, 85, 99, 0.08) 39px,
          rgba(75, 85, 99, 0.08) 40px
  ),
  radial-gradient(
          circle at 20px 20px,
          rgba(55, 65, 81, 0.12) 2px,
          transparent 2px
  ),
  radial-gradient(
          circle at 40px 40px,
          rgba(55, 65, 81, 0.12) 2px,
          transparent 2px
  );
  background-size:
          40px 40px,
          40px 40px,
          40px 40px,
          40px 40px;
    color: #1c398e;
}

.pattern {
  --s: 100px; /* control the size */
  --c1: #ffffff;
  --c2: #d1d3da;

  --_g: var(--c2) 4% 14%, var(--c1) 14% 24%, var(--c2) 22% 34%,
  var(--c1) 34% 44%, var(--c2) 44% 56%, var(--c1) 56% 66%, var(--c2) 66% 76%,
  var(--c1) 76% 86%, var(--c2) 86% 96%;
  background: radial-gradient(
          100% 100% at 100% 0,
          var(--c1) 4%,
          var(--_g),
          #0008 96%,
          #0000
  ),
  radial-gradient(
          100% 100% at 0 100%,
          #0000,
          #0008 4%,
          var(--_g),
          var(--c1) 96%
  )
  var(--c1);
  background-size: var(--s) var(--s);
}
